/* Universal */
* {
	border:0px;
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

html {
	font-size: 16px;
  color: rgb(14, 23, 75);
  background-color:#c5d5cb;

}

p {
  font-family: Futura; 
}

/*h2, h3 {
  font-family: Futura;
}*/

/* Home Page */
.selfie-container img {
  display: block;
  height: auto;
  width: 100%;
}

.selfie-container {
  
  position: relative;
  top: 17%;
  left: 61%;
  max-width: 30%;
  height: auto;
}

.home {
  
  height: 1000px;
  width: 100%;
  z-index: -1;
}

.home h1 {
  
  font-size: 5rem;
  position: relative;
  left: 300px;
  bottom: 22%;
  width: 50%;
  letter-spacing: 0.5px; 
}

.home p {
  
  position: relative;
  left: 320px;
  bottom: 20%;
  font-size: 2rem;
  width: 40%;
}

/* Vertical Navigation Bar */
.menu-nav {
  
  height: 100%;
  width: 150px;
  background-color: #cfe2d5;
  position: fixed;
}

.logo {
  width: 100%;
  height:auto;
  background-color: #cfe2d5;
  padding-bottom: 150%;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #cfe2d5;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
  }
  
  li a {
    
    display: block;
    color: rgb(23, 34, 95);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.25em;
    font-family: Futura;
    text-align: center;
  }
  
  li a:hover {
    background-color: #ddede2;
    color: rgb(14, 23, 75);
  }

  /* Project Page */

  .projects {
    border: 1px solid black;
    height: 1000px;
    background-color: #d8ebdd;
  }

  .projects h2 {
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    font-size: 3rem;
  }
